.footer{
	padding-top: 21px;
	padding-bottom: 95px;
	position: relative;
	background: url('../img/footer/lines.png') center -69px/ auto ;
	p {
		margin-bottom: 33px;
		opacity: 0.6;
	}
	ul.footer__icons {
		gap: 35px;
	}
	.testimg {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
@media (min-width: 1920px) {
	.footer {
		background-position: center;
		background-size: 100%;
	}
}