/* Типографика */
.text {
	@include typographic(#fff, $fzcontent, 20px, 0, $fg, 400, 1)
}
.title {
	@include typographic(#fff, 58px, 84px, -.25em, $fd, $fw, 1)
}
.subtitle {
	@include typographic(#fff, 18px, 21px, 0, $fg,  $fw, .7)
}
.menu__link {
	@include typographic(#fff,18px, 21px, 0, $fg, 500, 1)
}
.menu__link.active {
	@include typographic($c1,22px, 26px, 0, $fg, 600, 1)
}
.label {
	@include typographic(#fff, 144px, 208px, 0, $fd, $fw, 0.1)
}
.cart-item__title{
	@include typographic(#fff, 36px, 52px, -.25em, $fd, $fw, 1)
}
.cart-item__subtitle {
	@include typographic(#fff, 24px, 29px, 0, $fg, 600, 1)
}
.cart-item__text {
	@include typographic(#fff, 17px, 23px, 0, $fg, $fw, 1)
}
.booking-info__title {
	@include typographic($c1, 40px, 46.4px, 0, $fg, $fw, 1)
}
.booking-info__text {
	@include typographic(#fff, 17px, 20px, 0, $fg, $fw, 1)
}
.features-item__title {
	@include typographic(#fff, 24px, 29px, 0, $fg, 600, 1)
}
.features-item__text {
	@include typographic(#fff, 14px, 16px, 0, $fg, $fw, .5)
}
.contacts__text {
	@include typographic(#fff, 18px, 21px, 0, $fg, $fw, 1)
}
.footer__text {
	@include typographic(#fff, 16px, 19px, 0, $fg, $fw, 1)
}

.c1, .active {
	color: $c1;
}
/*==========================================================*/
/*Графика*/
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 286px;
	background: linear-gradient(180deg, $cg1 0%, $cg2 100%);
	box-shadow: 6px, 6px, 17px rgba(3, 23, 32, .46);
	border-radius: 20px 4px;
	@include typographic(#fff, 22px, 22px, 0, $fg, 500, 1);
	padding: 16.5px / 16px * 1em;
	position: relative;
	z-index: 10;
	transition: all .5s ease;
	&:hover {
		color: #031923;
	}
	@media (max-width: 992px) {
		max-width: 200px;
	}
}

.features-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 37px;
	box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
	border-radius: 16px;
	background-color: #031822;
	border: 1px $c1 solid; // Изменить!
	.features-item__icon{
		background-color: blue;
	}
}
/*==========================================================*/
/*==========================================================*/
/*==========================================================*/