$v1: 50px;
$fg: Gilroy;
$fd: 'DotGothic16', sans-serif;;
$fw: 400;

//Цвет ссылок, елементов
$c1: #00FFA3;
//Цвета градиента
$cg1: #00D8A4;
$cg2: #009470;
$bgmain: #031923;


// Основной текст 
$fzcontent: 17px;